<div class="body">
  <div class="container">
   <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="inner">
          <input class="d-flex align-items-center input" type="text" placeholder="Enter Location" (keyup)="search($event)">
          <div class="display" style="height: 3cm;width: 3cm;">
           <h3>{{degree}}</h3>
            <div style="display: flex;">
              <h3>{{type}}</h3>
              <img height="50px" src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="">
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4"></div>

   </div>
  </div>
</div>